{% extends 'base.html.twig' %}

{% block title %}
    test
{% endblock %}

{% block body %}
    {% include 'includes/nav_bar.html.twig' %}

    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">Author</h1>
            <p class="lead blog-description">A brief look into the author.</p>
        </div>

        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">{{ author.name|raw }}</h2>

                    <p>Title: {{ author.title|raw }}</p>
                    <p>Company: {{ author.company|raw }}</p>
                    <p>Short Biography: {{ author.shortBio|raw }}</p>
                    <ul>
                        {% if author.getPhone %}
                            <li>{{ author.phone }}</li>
                        {% endif %}
                        {% if author.getFacebook %}
                            <li>{{ author.facebook }}</li>
                        {% endif %}
                        {% if author.getTwitter %}
                            <li>{{ author.twitter }}</li>
                        {% endif %}
                        {% if author.getGithub %}
                            <li>{{ author.github }}</li>
                        {% endif %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include 'includes/javascripts.html.twig' %}
{% endblock %}